@page "/forms12"
@inject ISecurityFormService SecurityFormService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
<h3>Forms</h3>
@if (SecurityFormService.Forms == null)
{
	<div class="text-center">
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
}
else
{
    <button class="btn btn-primary float-end">
        <i class="oi oi-plus"></i> اضافة استمارة جديد
    </button>
    <table class="table" style="direction: rtl; text-align: right;">
        <thead>
            <tr>
                <th>id</th>
                <th>did</th>
                <th>الاسم</th>
                <th>رقم الكتاب</th>
                <th>الجهة</th>
                <th>لون الباج</th>
                <th>doc_no</th>
                <th>تاريخ المقابلة</th>

            </tr>
        </thead>
        <tbody>
            <Virtualize Items="SecurityFormService.Forms" Context="form">
                <tr>
                    <td>@form.id</td>
                    <td>@form.did</td>
                    <td>@form.name</td>
                    <td>@form.info_book</td>
                    <td>@form.entity</td>
                    <td>@form.bagde_color</td>
                    <td>@form.doc_no</td>
                    <td>@form.review_date</td>

                    <td>
                        <button class="btn btn-primary">
                            <i class="oi oi-pencil"></i>
                        </button>
                    </td>

                </tr>
            </Virtualize>
        </tbody>
    </table>

}
</Authorized>
    <NotAuthorized>
        <div class="center-content">
            <img class="fade-in-out" src="/Coat_of_arms_of_Iraq.svg" width="300" height="300" alt="Menu Icon" />
            <h4 style="font-family:Cairo">
                الرجاء تسجيل
                <a href="login">الدخول  <MudIcon Icon="@Icons.Material.Filled.Login" Color="Color.Info" Size="Size.Medium" /> </a>
                لغرض المحتوى
            </h4>
            <h4 style="font-family:Cairo;color:red">
                النظام خاص بقسم اصدار هويات دخول المنطقة الخضراء, يمسح بالدخول للاشخاص المخولين فقط
            </h4>
        </div>
    </NotAuthorized>
</AuthorizeView>
@code {
	protected override async Task OnInitializedAsync()
	{
		await SecurityFormService.GetForms();
	}
}
